@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'custom_aos.css';

@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.custom-font-for-main {
  font-family: 'Carter One', cursive;
  color: #ffb800;
}

.custom-font-for-sub {
  font-family: 'Carter One', cursive;
  color: #ffffff;
}

.custom-font-for-nav {
  font-family: 'Carter One', cursive;
  color: #ffffff;
  &:hover {
    color: #ffb800;
  }
  &:focus {
    color: #ffb800;
  }
}

.custom-font-for-button {
  font-family: 'Carter One', cursive;
  color: #ffffff;
}

.custom-font-for-text {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
}

.custom-font-for-neon-title {
  font-family: 'Monoton', cursive;
  color: #d7532f;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: #00bfbf;
  color: #fafafa;
  text-shadow: none;
}

::selection {
  background: #00bfbf;
  color: #fafafa;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  transition: all 0.5s ease;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
